{% extends 'layout.html' %}


{% block title %}
Create Product
{% endblock %}

{% block content %}

<div class="container">
    <div class="card p-5">
        <form method="post">
             {% csrf_token %}
            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Product Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name">
                </div>
            </div>
            <div class="row mb-3">
               <label for="price" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                    <input type="number" min="1" class="form-control" id="price" name="price">
                </div>
            </div>

            <div class="row mb-3">
                <label for="description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="description" style="height: 200px" name="description"></textarea>
                </div>
            </div>

            <div class="row mb-3">
               <label for="thumbnail" class="col-sm-2 col-form-label">Thumbnail</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="thumbnail" name="thumbnail">
                </div>
            </div>

            <div class="row mb-3">
               <label for="category" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                    <select class="form-select" id="category" name="category" aria-label="Floating label select example">
                        {% for value, title in form.fields.category.choices %}
                        <option value="{{ value }}">{{ title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row mb-3">
               <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                <div class="col-sm-10">
                    <input type="number" min="1" class="form-control" id="stock" name="stock">
                </div>
            </div>

            <div class="row mb-3">
               <label for="is_featured" class="col-sm-2 col-form-label">Is Featured</label>
                <div class="col-sm-10">
                    <input class="form-check-input" type="checkbox" id="is_featured" name="is_featured">
                </div>
            </div>
            
            <button type="submit" class="btn btn-secondary " style="float: right; width: 9rem;">Create</button>
        </form>
    </div>
</div>





{% endblock %}