{% extends 'layout.html' %}


{% block title %}
Goalin
{% endblock %}




{% block content %}

    <div>
        <h2 style="color: seagreen; text-align: center; font-size: 150px;">
        {{app_name}}.
        <br>
        </h2>
        <p style="color: seagreen; text-align: center;">A home where champions are called</p>
    </div>
    

    <p style="color: rgb(34, 66, 47); text-align: center; padding: 5px; font-family: sans-serif;"><small>Last Login: {{ last_login }}</small></p>

    <div class="container"> 
        <div style="text-align: center;" class="p-3">
            <a href="{% url 'main:create_product' %}" class="btn btn-secondary">Add Product</a>
        </div>

    {% if product_list %}
        
        <div class="row " >
            {% for product in product_list %}
            {% if product.is_featured %}
            <div class="card col-3  mx-2 my-2 p-3" style="width: 18rem;">
                <img src="{{ product.thumbnail }}" class="card-img-top" width="200px" height="200px" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'main:show_product_id' product.id %}">{{ product.name }}</a> </h5>

                    <p class="card-text"><small class="text-body-secondary"> Category: {{ product.get_category_display }} <br>Stock: {{ product.stock }},  Price: {{ product.price }} </small></p>
                    <p class="card-text">{{ product.description|truncatechars:150 }}</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated {{ product.updated_at|timesince }} ago</small></p>
                    
                </div>
            </div>
            {% endif %}
            {% endfor %}
            
            
            
        </div>
       
    {% endif %}


    </div>

    <p style="color: rgb(34, 66, 47); text-align: center; padding: 15px; font-family: sans-serif;"><small>Created by <br>{{ creator_name }}, {{ creator_class }}</small></p>



{% endblock %}
