{% extends 'layout.html' %}
{% load static %}

{% block title %}
Goalin
{% endblock %}




{% block content %}
    <div style="justify-content: center;">
        <div>
            <h2  id="header_name">
            {{app_name}}.
            <br>
            </h2>
            <p style="color: seagreen; text-align: center;">A home where champions are called</p>
        </div>
            

        <p style="color: rgb(34, 66, 47); text-align: center; padding: 5px; font-family: sans-serif;"><small>Last Login: {{ last_login }}</small></p>

        <div class="container"> 

        {% include 'show_product.html' %}

        <p style="color: rgb(34, 66, 47); text-align: center; padding: 15px; font-family: sans-serif;"><small>Created by <br>{{ creator_name }}, {{ creator_class }}</small></p>

    </div>
    


{% endblock %}
