{% extends 'layout.html' %}


{% block title %}
More of Product
{% endblock %}




{% block content %}

   
    
    <div class="container"> 
       

    {% if product %}
        
        <div class="card col-md-12  mx-2 my-2 p-3" style="border-radius: 15px;">
            <img src="{{ product.thumbnail }}" class="card-img-top" width="400px" height="400px" style="border-radius: 25px;" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ product.name }} </h5>
            
            <p class="card-text"><small class="text-body-secondary"> 
                {% if product.is_featured %}
                <b>Featured</b>
                {% else %}
                <b>Not Featured</b>
                {% endif %}
                <br>
                Category: {{ product.get_category_display }} 
                <br>
                Stock: {{ product.stock }},  Price: {{ product.price }} 
                <br>
                {% if product.user %}
                    Seller: {{ product.user.username }}
                {% else %}
                    Seller: Anonymous
                {% endif %}
            </small></p>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><small class="text-body-secondary">Last updated {{ product.updated_at|timesince }} ago</small></p>
            
            </div>
        </div>
            
            
            
       
    {% endif %}
       <div style="text-align: center;" class="p-3">
            <a href="{% url 'main:show_product' %}" class="btn btn-secondary">Back To Product</a>
        </div>

    </div>

   



{% endblock %}
