{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="container">
    <div class="card p-5">
        <form method="post" id="register-form">
             {% csrf_token %}
            <div class="row mb-3">
                <h3 style="text-decoration: underline;">Register</h3>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">{{ form.username.label }}</label>
                <div class="col-sm-10">
                    {{ form.username }}
                    {% if form.username.help_text %}
                        <small>{{ form.username.help_text }}</small>
                    {% endif %}
                     <br>
                    {% for error in form.username.errors %}
                        <small><b>{{ error }}</b></small>
                    {% endfor %}
                </div>
            </div>
            <div class="row mb-3">
               <label class="col-sm-2 col-form-label">{{ form.password1.label }}</label>
                <div class="col-sm-10">
                    {{ form.password1 }}
                    {% if form.password1.help_text %}
                        <small>{{ form.password1.help_text }}</small>
                    {% endif %}
                     <br>
                    {% for error in form.password1.errors %}
                        <small><b>{{ error }}</b></small>
                    {% endfor %}
                </div>
            </div>
             <div class="row mb-3">
               <label class="col-sm-2 col-form-label">{{ form.password2.label }}</label>
                <div class="col-sm-10">
                    {{ form.password2 }}
                    {% if form.password2.help_text %}
                        <small>{{ form.password2.help_text }}</small>
                    {% endif %}
                    <br>
                    {% for error in form.password2.errors %}
                        <small><b>{{ error }}</b></small>
                    {% endfor %}
                </div>
            </div>
            
            <div id="register-message">

            </div>

            <button type="submit" class="btn btn-secondary " style="float: right; width: 9rem;" onsubmit="submitForm()">Register</button>
        </form>
    </div>
</div>

{% endblock %}

{% block script %}

<script>

    const form = document.getElementById("register-form")
    const msgBox = document.getElementById("register-message")

    async function submitForm(e) {
        e.preventDefault()
        const formData = new FormData(form)

        const response = await fetch("{% url 'main:register_user' %}", {
            method: "POST",
            headers: {"X-Requested-With": "XMLHttpRequest"},
            body: formData
        });

        const data = await response.json()
        msgBox.innerHTML = ""

       if (data.success) {
            msgBox.innerHTML = `<div class="alert alert-success">${data.msg}</div>`
            setTimeout(() => window.location.href = "{% url 'main:landing_page' %}", 1000)
        } else {
            let errorMsg = `<div class="alert alert-danger"><ul>`
            Object.entries(data.msg).forEach(([field, errors]) => {
                errorMsg += `<li><strong>${field}:</strong> ${errors.join(", ")}</li>`
            });
            errorMsg += `</ul></div>`
            msgBox.innerHTML = errorMsg
        }
    }

    form.addEventListener("submit", submitForm)





</script>



{% endblock %}