{% extends 'layout.html' %}


{% block title %}
Products
{% endblock %}




{% block content %}

   
    
    <div class="container"> 
       

    {% if product_list %}
        <a href="?filter=all">
            <button type="button">All Products</button>
        </a>
        <a href="?filter=my">
            <button type="button">My Products</button>
        </a> 
        
        <div class="row " >
            {% for product in product_list %}
            <div class="card col-3  mx-2 my-2 p-3" style="width: 18rem;">
                <img src="{{ product.thumbnail }}" class="card-img-top" width="200px" height="200px" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'main:show_product_id' product.id %}">{{ product.name }}</a> </h5>

                    <p class="card-text"><small class="text-body-secondary"> 
                        Category: {{ product.get_category_display }} 
                        <br>Stock: {{ product.stock }},  
                        Price: {{ product.price }} 
                        <br>
                        {% if product.user %}
                        Seller: {{ product.user.username }}
                        {% else %}
                        Seller: Anonymous
                        {% endif %}
                    </small></p>
                    <p class="card-text">{{ product.description|truncatechars:150 }}</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated {{ product.updated_at|timesince }} ago</small></p>
                </div>
            </div>
            {% endfor %}
            
            
            
        </div>
       
    {% endif %}
    </div>

   


<!-- <div class="alert alert-warning p-3 mx-auto mt-3 " role="alert" style="width: 80%;text-align: center;">
   
    <h3>Nama Pengembang: <u>{{ creator_name }}</u></h3>
    <h3 style="color: seagreen;">Kelas: <u>{{ creator_class }}</u></h3>
    <br>
    <br>
    <h1 style="color: red;">COMING SOONN!</h1> -->
<!-- </div> --> 


{% endblock %}
